
* {
  box-sizing: border-box;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

body {
  background-color: rgb(9, 66, 107);
}

.page {
  background-color: rgb(9, 66, 107);
  padding: 200px 30px 0;
  min-height: 100%;
  position: relative;
  background: url('../img/bg.png') no-repeat top center;
  background-color: rgb(9, 66, 107);
}

.container {
  background: rgb(12, 78, 128);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  .header {
    font-size: 20px;
    height: 50px;
    background: rgb(14, 88, 144);
    position: relative;
    padding: 15px;
    color: rgb(110, 194, 255);
    .save {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      width: 80px;
      font-size: 14px;
      color: #fff;
      background: rgb(51, 136, 198);
    }
  }
  .content {
    padding: 0 20px;
  }
}

.form-control {
  color: #fff;
  font-size: 12px;
  outline: none;
  border: none;
  background: transparent;
  height: 18px;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.form-control-inline {
  @extend .form-control;
  display: inline-block;
  width: 120px;
}

//.form-radio + .form-radio, .form-checkbox + .form-checkbox {
//  margin-left: 20px;
//}

.form-radio, .form-checkbox {
  margin-right: 20px;
  input {
    display: none;
  }
  input + label {
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #fff;
      width: 14px;
      height: 14px;
      top: 2px;
      border-radius: 50%;
      left: 0;
    }
    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      top: 6px;
      left: 4px;
      transition: transform 100ms;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
  }
  input:checked + label {
    &:after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
}

.form-checkbox {
  input + label {
    &:before {
      border-radius: 0;
    }
    &:after {
      width: 8px;
      height: 8px;
      left: 4px;
      top: 6px;
      border-radius: 0;
    }
  }
}

.section {
  margin-top: 30px;
  font-size: 12px;
  color: rgb(110, 194, 255);
  .title {
    border-bottom: 1px solid rgb(33, 105, 160);
    font-size: 14px;
    line-height: 30px;
  }
  .row {
    line-height: 24px;
    &:first-child {
      margin-top: 10px;
    }
    .name {
      display: inline-block;
    }
    .form {
      display: inline-block;
    }
  }
}

.saveBtn {
  margin: 20px auto;
  width: 100px;
  color: #fff;
  font-size: 14px;
  background: rgb(51, 136, 198);
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.list {
  table {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    td, th {
      line-height: 30px;
    }
  }
}
